table {
  text-align: center;
  font-size: 30px;
}
#mainTable {
  width: 70%;
  height: 100px;
}
.tablecontainer {
  display: flex;
  justify-content: center;
}
td {
  background-color: #e0e0e0;
  border: 10px solid #bfbfbf;
  width: 10%;
  height: 90px;
}
.atencion {
  font-size: 30px;
  font-weight: bold;
  color: red;
}
.estructura {
  font-size: 20px;
}

.indent1 {
  text-indent: 1em;
}
.indent3 {
  text-indent: 3em;
}
